# Variaveis publicas expostas ao client.
NEXT_PUBLIC_APP_NAME=BuildMyCourse
NEXT_PUBLIC_APP_URL=http://localhost:3000

DATABASE_URL=
DATABASE_DIRECT_URL=
AUTH_SECRET=
AUTH_URL=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
OPENAI_API_KEY=

# Nao commite secrets reais.
